.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 19px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.button {
  display: inline-block;
  margin-right: 14px;
  padding: 13px 23px;
  border-radius: 3px;
  background-color: #000;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #489fd9;
}

.button.hollow {
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 2px #fff;
  color: #fff;
  text-shadow: none;
}

.button.hollow:hover {
  border-color: #de82a7;
  background-color: #de82a7;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 2px #de82a7;
  color: #fff;
  text-shadow: none;
}

.button.hollow.sec {
  width: 208px;
  margin-top: 60px;
  border-color: #000;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 2px #000;
  color: #000;
}

.button.hollow.sec:hover {
  border-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 2px #fff;
  color: #fff;
}

.button.hollow.pc {
  width: 208px;
}

.button.hollow.mb {
  display: none;
}

.button.in-pricing {
  display: block;
  margin-top: 19px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-text {
  margin-top: 24px;
  font-family: 'Roboto Slab', sans-serif;
  color: #1c1c1c;
  font-size: 27px;
  font-weight: 500;
}

.logo-text.footer {
  margin-top: 0px;
  margin-bottom: 19px;
  color: #e6eaed;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.13);
}

.nav-link {
  padding: 26px 17px;
  box-shadow: inset 0 3px 0 0 transparent;
  -webkit-transition: box-shadow 500ms ease, color 300ms ease;
  transition: box-shadow 500ms ease, color 300ms ease;
}

.nav-link:hover {
  box-shadow: inset 0 3px 0 0 hsla(0, 0%, 71%, 0.5);
}

.nav-link.w--current {
  box-shadow: inset 0 3px 0 0 #4dbd90;
  color: #4dbd90;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section.main {
  margin-top: 73px;
  background-image: url('../images/FV.png');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.23);
}

.section.footer {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: #2b2c2e;
  color: #e4e8eb;
}

.section.footer.copyright {
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: #1c1d1f;
  color: #939596;
  font-size: 14px;
}

.section.purple {
  background-color: #ede4e1;
}

.section.clients {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #a1bfd4;
}

.section.press {
  padding-top: 29px;
  padding-bottom: 38px;
  background-color: #de5285;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.slider {
  display: none;
  height: 360px;
  background-color: #303030;
}

.slide {
  padding-top: 64px;
  padding-bottom: 64px;
}

.slide._1 {
  background-color: #00ad6e;
}

.slide._2 {
  background-color: #00bdd6;
}

.slide._3 {
  background-color: #ccbe00;
}

.main-subtitle {
  margin-bottom: 26px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
}

.main-subtitle.to {
  margin-bottom: 140px;
}

.footer-slogan {
  margin-bottom: 11px;
  color: #939596;
}

.social-icon {
  margin-right: 11px;
  opacity: 0.41;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-icon:hover {
  opacity: 1;
}

.footer-title {
  margin-top: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.page-link {
  border-bottom: 1px solid transparent;
  -webkit-transition: color 300ms ease, border 300ms ease;
  transition: color 300ms ease, border 300ms ease;
  color: #489fd9;
  text-decoration: none;
}

.page-link:hover {
  border-bottom-color: #489fd9;
}

.page-link.in-footer {
  display: block;
  color: #939596;
}

.page-link.in-footer:hover {
  border-bottom-color: transparent;
  color: #d2d7d9;
}

.newsletter-field {
  width: 60%;
  height: 40px;
  float: left;
  border: 1px solid transparent;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #e8e8e8;
}

.newsletter-field:focus {
  border-width: 1px;
  border-color: #09f;
  box-shadow: 0 0 6px 0 #489fd9;
}

.newsletter-button {
  width: 40%;
  height: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  float: left;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #5f6166;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #d5d8db;
}

.newsletter-button:hover {
  background-color: #489fd9;
  color: #fff;
}

.newsletter-form {
  width: 70%;
}

.brand-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.success-message {
  background-color: #5f6166;
}

.main-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 38px;
  line-height: 44px;
  text-align: center;
  text-shadow: none;
}

.main-heading.thanks {
  margin-top: 140px;
  margin-bottom: 60px;
  color: #000;
}

.section-subtitle {
  margin-bottom: 68px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
}

.bold-text {
  font-weight: 400;
}

.plan-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  padding: 17px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 3px;
  background-color: #fff;
  color: #2b2b2b;
}

.price-point {
  margin-bottom: 8px;
  font-size: 14px;
}

.price-accent {
  color: #489fd9;
  font-size: 20px;
  letter-spacing: 0px;
}

.addl-feature {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
}

.addl-feature.inactive {
  color: #c7c5c5;
  text-decoration: line-through;
}

.divider {
  width: 50%;
  height: 1px;
  margin-top: 13px;
  margin-bottom: 12px;
  background-color: #dbdbdb;
}

.additional-contact {
  margin-top: 21px;
  text-align: center;
}

.feature {
  text-align: left;
}

.feature-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-slider {
  height: auto;
  margin-top: 45px;
  background-color: transparent;
}

.testimony-slide {
  padding-top: 0px;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

.testimony-text {
  margin-bottom: 21px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 18px;
  line-height: 35px;
  font-weight: 300;
  text-align: left;
}

.slide-nav {
  display: none;
  font-size: 10px;
}

.person {
  width: 70px;
  margin-bottom: 13px;
  border-radius: 100%;
}

.name {
  font-weight: 500;
}

.slider-arrow {
  width: 50px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #bdbdbd;
  font-size: 32px;
}

.slider-arrow:hover {
  color: #000;
}

.feature-icon {
  margin-bottom: 12px;
}

.main-feature-group {
  margin-top: 30px;
}

.small-features-row {
  margin-top: 71px;
}

.client-logo {
  width: 16.6%;
}

.small-text {
  margin-bottom: 10px;
  color: hsla(0, 0%, 100%, 0.31);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.logo {
  width: 14%;
  margin-right: 2%;
  margin-left: 2%;
}

.sv-text {
  width: auto;
  margin-top: 10px;
  color: #fff;
  font-size: 12px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3 {
  margin-right: 100px;
  margin-left: 100px;
}

.heading {
  text-align: center;
}

.heading-2 {
  text-align: center;
}

.heading-3 {
  text-align: center;
}

.heading-4 {
  text-align: center;
}

.heading-5 {
  font-size: 60px;
  line-height: 60px;
}

.heading-6 {
  font-size: 60px;
  line-height: 60px;
}

.paragraph {
  line-height: 35px;
}

.paragraph-2 {
  line-height: 35px;
}

.text-block {
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.column {
  text-align: center;
}

.html-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body {
  background-color: #ede4e1;
}

.body-2 {
  background-color: #ede4e1;
}

.contact-right {
  width: 70%;
  padding-left: 20px;
}

.content-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container-3 {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.success {
  min-height: 280px;
  padding-top: 125px;
  border-radius: 5px;
  background-color: #20c788;
  color: #f9f9f9;
}

.contact-left {
  width: 30%;
}

.contact-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn {
  padding: 5px 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #eb5757;
  border-radius: 5px;
  background-color: #eb5757;
  -webkit-transition: border-color 300ms ease, background-color 300ms ease;
  transition: border-color 300ms ease, background-color 300ms ease;
  font-weight: 700;
}

.btn:hover {
  border-color: #222;
  background-color: #222;
}

.error {
  border-radius: 5px;
  background-color: #e53935;
  color: #f9f9f9;
}

.input {
  border: 1px solid #222;
  border-radius: 5px;
}

.input:hover {
  border-color: #eb5757;
}

.input:active {
  border-color: #eb5757;
}

.input:focus {
  border-color: #eb5757;
}

.input::-webkit-input-placeholder {
  color: #525252;
}

.input:-ms-input-placeholder {
  color: #525252;
}

.input::-ms-input-placeholder {
  color: #525252;
}

.input::placeholder {
  color: #525252;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media screen and (max-width: 991px) {
  .button.hollow.pc.res {
    margin-top: 20px;
  }

  .button.in-pricing {
    font-size: 14px;
    line-height: 18px;
  }

  .nav-link {
    padding: 18px 0px;
    color: #fff;
  }

  .nav-link:hover {
    box-shadow: inset 0 3px 0 0 transparent;
  }

  .nav-link.w--current {
    box-shadow: inset 0 1px 0 0 transparent;
  }

  .nav-link.menu {
    padding: 22px 17px;
    color: #000;
    font-size: 30px;
  }

  .nav-link.menu.w--open {
    background-color: #000;
    color: #fff;
  }

  .nav-menu {
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #000;
  }

  .main-heading.thanks {
    font-size: 32px;
  }

  .main-feature-group {
    margin-top: 0px;
  }

  .main-image {
    margin-top: 49px;
  }

  .contact-right {
    width: 100%;
    padding-left: 0px;
  }

  .container-3 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .contact-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    margin-bottom: 8px;
  }

  .logo-text {
    margin-top: 15px;
  }

  .nav-link.menu {
    height: 70px;
    padding-top: 25px;
    padding-bottom: 11px;
  }

  .section {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }

  .section.main {
    margin-top: 51px;
  }

  .main-subtitle {
    font-size: 16px;
  }

  .main-subtitle.to {
    margin-bottom: 100px;
  }

  .nav-menu {
    padding-right: 12px;
    padding-left: 12px;
  }

  .footer-title {
    margin-top: 35px;
  }

  .newsletter-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .main-heading.thanks {
    margin-top: 100px;
    font-size: 32px;
  }

  .section-subtitle {
    margin-bottom: 44px;
  }

  .plan-wrapper {
    margin-right: 5%;
    margin-bottom: 34px;
    margin-left: 5%;
  }

  .divider {
    width: 100%;
  }

  .feature {
    margin-bottom: 32px;
    text-align: center;
  }

  .feature-icon {
    margin-bottom: 4px;
  }

  .main-feature-group {
    margin-top: 0px;
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 479px) {
  .button.hollow {
    display: block;
  }

  .button.hollow.pc {
    display: none;
  }

  .button.hollow.mb {
    display: block;
    width: 208px;
    margin-top: 39px;
    margin-right: 0px;
  }

  .nav-link.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 75px;
    padding-top: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section.main.con {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .main-subtitle {
    padding-left: 0px;
    font-size: 14px;
    text-align: center;
  }

  .main-subtitle.to {
    margin-bottom: 60px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .main-heading {
    font-size: 28px;
  }

  .main-heading.thanks {
    margin-top: 60px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 28px;
  }

  .section-subtitle {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    text-align: justify;
  }

  .feature-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-row._2nd {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .testimony-text {
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
  }

  .main-image {
    margin-top: 0px;
  }

  .client-logo {
    width: 33.33%;
  }

  .div-block-3 {
    margin-right: 20px;
    margin-left: 20px;
  }

  .heading-5 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .heading-6 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 48px;
  }

  .paragraph {
    line-height: 25px;
    text-align: justify;
  }

  .paragraph-2 {
    line-height: 25px;
    text-align: justify;
  }

  .text-block {
    font-size: 12px;
  }

  .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .heading-7 {
    font-size: 18px;
  }

  .column {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container-2 {
    display: block;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .icon {
    height: auto;
  }

  .image {
    margin-top: 3px;
  }

  .column-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

